
doctype html
html
    head

        title Map Page
        link(rel='stylesheet', href='/stylesheets/Map.css')

    body
        header
            h1 Parking Lot Map

    

        main
            img(src='/images/ParkingLot.jpg' alt='Parking Lot Image')

    footer
        p &copy; Parking Lot Map


