extends layout 

block content 
  nav(class="nav")
    div(class="nav_container")
      div(class= "nav_logo")
        img(src="/images/UEALogo.png", alt="", id="logo")
      ul(class="nav_list")
        li 
         a(class = "nav_option", href='main') Home
        li 
         a(class = "nav_option", href='bookings') Bookings
        li 
         a(class = "nav_option", href='bookings')
        li  
         a(class = "nav_option", href='bookings')
  main
    section(class="booking_content")
      div(id ="bookings_display")
       li(id = "bookings_list")
        each request in data
            ul= "Department: " + request.department + " Destination: " + request.destination + " Arrival date and time: " + request.arriveDate + " Departure date and time: " + request.departDate
        