extends layout

block content
  section(id = "mainpage")
   img(src="/images/UEALogo.png", alt="logoImg" id = "logo")
   div(id = "content")
     h1= title
     a(href='/register') Register
     br
     a(href='/login') Login