extends layout 

block content 
  nav(class="nav")
    div(class="nav_container")
      div(class= "nav_logo")
        img(src="/images/UEALogo.png", alt="", id="logo")
      ul(class="nav_list")
        li 
         a(class = "nav_option", href='#') Home
        li 
         a(class = "nav_option", href='bookings') Bookings
        li 
         a(class = "nav_option", href='bookings') Account
        li  
         a(class = "nav_option", href='bookings') Help
  main
  section(class = "main_content")
     div(class ="bookings")
 