html 
  head 
   title Manage User Accounts
   link(rel='stylesheet', href='/stylesheets/frontPage.css')
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    ul
      each user in users
        li 
          | ID: #{user._id}
          br
          | Username: #{user.username}
          br
          | Email: #{user.email}
          br
          | Phone Number: #{user.phoneNumber}