extends layout 

block content 
  nav(class="nav")
    div(class="nav_container")
      div(class= "nav_logo")
        img(src="/images/UEALogo.png", alt="", id="logo")
      ul(class="nav_list")
        li 
         a(class = "nav_option", href='mainAdmin') Admin Home
        li 
         a(class = "nav_option", href='account') Account
        li  
         a(class = "nav_option", href='help') Help

  main
   section(class = "manage_account_content")
     div(class = "manage_accounts_list")
      h2 User Accounts
      ul
       each user in users
        li
          strong ID: 
          | #{user._id}
          br
          strong Username: 
          | #{user.username}
          br
          strong Email: 
          | #{user.email}
          br
          strong Phone Number: 
          | #{user.phoneNumber}
          button(type="button") Delete Account
  form(action='/main/logout', METHOD = 'POST', id = "logout_button")
    input(type="submit", name="logout", value = "Logout", id = "logout_input")
  