html 
  head 
   title Login page
   link(rel='stylesheet', href='/stylesheets/frontPage.css')
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body 
   section(id = "registerPage")
   img(src="/images/UEALogo.png", alt="logoImg" id = "logo")
   
   div(id = "above")
    h1="SignUp to PMS"
    div(id = "content")
      form(action='/register', method= 'POST')
          label(for='username')
          input#username(type='text' name='username' placeholder='Username' required='')
          br
          label(for='password')
          input#password(type='password' name='password' placeholder='Password' required='')
          br
          label(for='email')
          input#email(type='text' name='email' placeholder='Email' required='')
          br
          label(for='phoneNumber')
          input#phoneNumber(type='text' name='phoneNumber' placeholder='Phone Number' required='')
          br
          input(type='submit' value='Sign Up')
          if errorMessage
            p.error= errorMessage
      p 
        a(href='/', class = "links") Login Page    