/* General CSS */

body {
  font: 14px "Gotham", Helvetica, Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

 footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
} 

 header {
  background-color: #242424;
  padding: 20px;
  text-align: center;
} 

iframe{
  width: 50%;
  height: 90vh;
}

#logout_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px; 
  width: 5%;
  height: 5%;
}

#logout_input{
  width: 100%;
  height: 100%;
}

/* Navigation Bar CSS */

.nav{
  padding-left: 15px;
  padding-right: 15px;
  background-color: #1f1f1f;
}

.nav_logo{
  width: 15%;
  height: 15%;
  margin: .5%;
}


.nav_container{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#logo{
  width: 40%;
}

.nav_list li{
  list-style: none;
  display: inline-block;
}

.nav_option{
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  color: white;
  text-decoration: none;
  position: relative;
}

.nav_option:hover {
  color:#bebebe;
}

.nav_option:focus,
.nav_option:hover {
  color: #fff;
}

.nav_option:focus:after,
.nav_option:hover:after {
  width: 100%;
  left: 0%;
}

.nav_option:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Home Page CSS */

.main_content{
  display: flex;
  
}

.sideRequest{

  width: 25%;
  position: relative;
  background: rgb(44, 48, 54);
  border: 1px solid #000000;
}

.sideMap{
  width: 100%;
  display: contents;
}

#map{
  width: 100%;
}

.sideRequest form input[type="datetime-local"],
.sideRequest form select {
  margin-left: 4%;
  width: 93%;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.sideRequest form input[type="submit"] {
  width: 93%;
  padding: 10px;
  border-radius: 5px;
  background-color: #00B7FF;
  color: #fff;
  cursor: pointer;
  margin-left: 4%;
}

.sideRequest form input[type="submit"]:hover {
  background-color: #006ca1;
}

.sideRequest form label {
  margin-left: 4%
}

.sideRequest h3 {
  margin-left: 4%;
}



/* Map Page CSS */

#parkinglot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:80%;
  width: auto;
}

.center{
  text-align: center;
}

/* Bookings CSS */

.booking_content {
  width: fit-content;
  margin: 20px auto;
}

#bookings_list {
  list-style: none;
  padding: 0;
}

#bookings_list li {
  margin-bottom: 20px; 
  border-bottom: 1px solid #ffffff; 
  padding-bottom: 10px; 
  font-size: 25px;
}

.booking_info {
  margin-bottom: 5px;
}

thead {
  background-color: #525252;
  text-align: center;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #0000003f;
}

/* MainAdmin CSS */

.admin_main_content {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto; 
  display: flex;
  width: 80%;
  background-color: #2e2e2e;
  border-radius: 10px;
  justify-content: space-between;
  padding:2%;
}

.admin_main_content h2 {
  text-align: center;
  color: #fff; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.requests, .carparks {
  margin-bottom: 40px; 
}

.requests h2, .carparks h2 {
  color: #ffffff; 
  text-decoration: underline;
  margin-left:4%;
  font-size: 250%;
}

.requests ul, .carparks ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.requests li, .carparks li {
  margin-top: 12px; 
  margin-left: 4%;
}


button, input[type="submit"] {
  width:fit-content;
  padding: 10px;
  border-radius: 5px;
  border:none;
  background-color: #4b4b4b;
  color: #fff;
  cursor: pointer;
  margin-left: 4%;
}

button:hover, input[type="submit"]:hover {
  background-color: #3b3b3b;
}

.requests{
  height:100%;
  width:50%;
}

.carparks{
  height:100%;
  width:40%;
  float: right;
  text-align: left;
}

#new_car_park{
  font-weight: bold;
  margin-right:5%;
}

.approve_reject{
  display: contents;
  margin-left: 4%;
}

.park_buttons{
  margin-bottom: 10%;
  display: contents;
  width: 30%;
}

#approve button[type="submit"]:hover {
  background-color: rgba(0, 128, 0, 0.5); 
}

#reject button[type="submit"]:hover {
  background-color: rgba(255, 0, 0, 0.2); 
}

#parking_lot_img{
  width: 370px; 
  height: auto;
  float: left;
}

.carparks {
  padding: 20px;
}

.car_park_item {
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  width: 400px;
  background-color: #333;
}

.admin_img{
  height:200%;
  width: fit-content;
}

.car_park_item img {
  width: 100px; 
  height: auto;
  float: left;
}

.car_park_item li {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.car_park_item form {
  margin-top: 10px;
}

.car_park_item:after {
  content: "";
  display: table;
  clear: both;
}

.manage_request_item {
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #333;
}

.manage_request_item li {
  font-weight: bold;
}


/* Manage Accounts CSS */

.manage_accounts_list li{
  border: 3px solid #ccc; 
  padding: 10px;
  margin-bottom: 5%;
  list-style: none; 
  border-radius: 15px;
  background-color: #2e2e2e;
  padding:5%;
}

.manage_accounts_list ul{
  list-style: none; 
  list-style-type: none; 
  padding: 0; display: 
  grid; grid-template-columns: 
  repeat(2, 1fr); 
  grid-gap: 10px;

}

.manage_account_content{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
}

.manage_account_content h2{
  margin-left:5%;
  text-align: center;
  color: #fff; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.manage_account_content button:hover{
  background-color: rgba(255, 0, 0, 0.2); 
}


/* Account Page CSS */

.account_info {
  margin: 20px auto;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  max-width: 600px;
}

.account_page h1 {
  text-align: center;
  color: #fff; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.info_row {
  margin-top: 10px;
}

.account_page p {
  margin:0;
  font-weight: bold;
  color: #fff;
}

.account_page a {
  margin:0;
  color: #00B7FF;
}

#paymentPageButton {
  display: block;
  margin: auto;
  height: 15%;
  width: 20%;
  border: 3px;
  padding: 10px;
  font-size: 20px;
}

.requestPageContainer {
  margin: 40px auto;
  padding: 40px;
  background-color: #2e2e2e;
  border-radius: 10px;
  max-width: 1000px;
}




/* Mobile View prerequisite */

.createRequestBtn {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 101vw;
  height: 150px;
  font-size: 50px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  bottom:0;

}

/* Mobile View CSS */

@media only screen and (max-width: 1000px) {

  .createRequestBtn {
    display: block; 
  }

  .nav_logo {

    display: contents;
    margin-top:20px;
    margin-bottom:20px;
  }

  .nav_logo img{
    margin-top:20px;
    margin-bottom:20px;
    width: auto; 
    height: 100px; 
  }

  #logo{
    width: 20%;
  }

  .nav_option {
    font-size: 30px; 

  }

  .nav_container {
    padding-left: 10px; 
    padding-right: 10px; 
  }


  .main_content {
    flex-direction: column-reverse; 
  }

  .sideRequest {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(38, 41, 46, 0.87);
    display: none; 
    font-size: 40px;
    overflow-y: scroll; 
  }

  .showRequest {
    display: block !important; 
  }

  .showRequest button.closeRequest {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .sideRequest form input[type="datetime-local"],
  .sideRequest form select {
    margin-left: 4%;
    width: 93%;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 40px;
  }

  .sideRequest form input[type="submit"] {
    width: 93%;
    padding: 20px;
    border-radius: 5px;
    background-color: #00B7FF;
    color: #fff;
    cursor: pointer;
    margin-left: 4%;
    margin-top: 20px;
    font-size: 40px;
  }

  .sideRequest form button[type="button"],
  .sideRequest form button[type="submit"] {
    width: 100%; 
    height: 80px;
    padding: 20px; 
    font-size: 40px; 
  }

  #bookingConfirmDialog p,
  #bookingConfirmDialog strong {
    font-size: 40px; 
  }

  #bookingConfirmDialog button {
    width: 300px; 
    height: 90px; 
    font-size: 35px; 
    margin-right: 10px; 
    margin-top:5%;
  }

  .sideRequest form select option{
    font-size: 10px; 
    padding: 8px; 
  }

  #logout_button {
    position: fixed;
    bottom: 160px;
    right: 20px;
    width: 20%;
    height: 5%;
    border-radius: 15px;
  }
  
  #logout_input{
    width: 100%;
    height: 100%;
    font-size: 40px; 
    border-radius: 15px;
  }

  .manage_accounts_list{
    position: absolute;
    margin-left: 1%;
    margin-right: 1%;
  }

  .manage_accounts_list ul{
    list-style: none; 
    list-style-type: none; 
    padding: 0; display: 
    grid; grid-template-columns: 
    repeat(2, 1fr); 
    font-size: 30px;
  }

  .manage_accounts_list li{
    padding:5px;

  }

  .manage_account_content{
    margin-left: 0;
    margin-right: auto;
    width: 30%;
    text-align: center;
    font-size: 30px;
  }

  .account_info {
    padding: 50px; /* Increase padding for larger spacing */
    max-width: 80%; /* Adjust width for better readability */
  }

  .account_page h1 {
    font-size: 80px; /* Increase header font size */
  }

  .info_row {
    margin-bottom: 50px; /* Increase margin between rows */
  }

  .account_page p {
    font-size: 40px; /* Increase paragraph font size */
  }

  .account_page a {
    font-size: 40px; /* Increase link font size */
  }
  }
